
@font-face {
  font-family: Oswald-Regular;
  src: url(../styles/fonts/Oswald-Regular.ttf) format("truetype");
}
@font-face {
  font-family: Oswald-Bold;
  src: url(../styles/fonts/Oswald-Bold.ttf) format("truetype");
}

body {
  font-family: Helvetica, sans-serif;
  background: url(../images/clouds.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.banner h1 {
  text-align: center;
  text-transform: uppercase;
  line-height: 1.4;
}

.banner span {
  background-color: #ffffff;
  padding: 0 .3em 0 .3em;
}

span.title-leadin {
  font-family: Oswald-Regular;
  color: #7aa7e2;
}

span.title-weather {
  font-family: Oswald-Bold;
  font-size: 1.8em;
}

.location-details {
  margin-top: 15px;
  width: 400px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.5);
}

.datapair .datapair-label {
  display: inline-block;
}
.datapair .datapair-value {
  display: inline-block;
}

section {
   border-radius: 1em;
   padding: 1em;
   position: absolute;
   top: 20%;
   left: 50%;
   margin-right: -50%;
   transform: translate(-50%, -20%)
 }

 .heading-city-details {
   font-weight: bold;
 }
 .heading-city {
   display: inline-block;
 }
 .heading-date {
   display: inline-block;
   float: right;
   color: #7aa7e2;
 }
 .heading-date:after {
   clear: right;
 }
 .heading-description {
   padding-top: 2px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
 }

 .location-details {

 }
 .location-details-content {
   padding: 20px 20px 20px 20px;
 }
 .location-details .row {
   margin-left: 0;
   margin-right: 0
 }
 .location-details .details-temperature {
   margin-top: 25px;
 }
 .location-details label {
   font-weight: normal;
   color: #5b8ac9;
 }
 .location-details-content .col-md-12,
 .location-details-content .col-md-8,
 .location-details-content .col-md-7,
 .location-details-content .col-md-6,
 .location-details-content .col-md-5,
 .location-details-content .col-md-4 {
   padding-left: 0;
   padding-right: 0;
 }

 .search.input-group {
   width: 402px;
   border: 1px solid #7aa7e2;
   border-radius: 15px;
   background-color: #ffffff;
   box-shadow: 1px 1px 3px #7aa7e2;
   padding: 3px;
 }
 .search input {
   width: 360px;
   border: none;
   background-color: transparent;
   margin-left: 15px;
 }
 .search span.find {
   font-size: 16px;
   padding-top: 4px;
   cursor: pointer;
 }

 .react-autosuggest__container {
   position: relative;
   display: inline-block;
 }
 .react-autosuggest__input {
   width: 360px;
   border: none;
   background-color: transparent;
 }
 .react-autosuggest__input:focus {
   outline: none;
 }
 .react-autosuggest__container--open .react-autosuggest__input {
   border-bottom-left-radius: 0;
   border-bottom-right-radius: 0;
 }
 .react-autosuggest__suggestions-container {
   position: absolute;
   top: 24px;
   left: 4px;
   width: 360px;
   margin: 0;
   padding: 0;
   list-style-type: none;
   color: #777;
   border: 1px solid #7aa7e2;
   background-color: #fff;
   border-top: none;
   border-bottom-left-radius: 8px;
   border-bottom-right-radius: 8px;
   box-shadow: 1px 2px 3px #7aa7e2;
   z-index: 2;
 }
 .react-autosuggest__suggestion {
   cursor: pointer;
   padding: 10px 10px;
 }
 .react-autosuggest__suggestion--focused {
   color: #5b8ac9;
 }

 .row-description {
   margin-top: 5px;
 }
 .units-group {
   margin-right: -3px;
 }
 .units-group .btn {
   color: #7aa7e2;
   font-size: 11px;
   padding: 3px 12px 2px 12px;
   border-radius: 12px;
   background-color: transparent;
 }
 .units-group .btn:first-child {
   padding-right: 8px;
 }
 .units-group .btn:last-child {
   padding-left: 8px;
 }
 .units-group .btn.active {
   color: #000000;
   font-weight: bold;
   -webkit-box-shadow: none;
   box-shadow: none;
   background-color: #ffffff;
 }
 .units-group .btn-default {
   border-color: #7aa7e2;
 }
